'\" t
.\"     Title: afp_ldap.conf
.\"    Author: [FIXME: author] [see http://docbook.sf.net/el/author]
.\" Generator: DocBook XSL Stylesheets v1.75.2 <http://docbook.sf.net/>
.\"      Date: 30 Mar 2011
.\"    Manual: Netatalk 2.2
.\"    Source: Netatalk 2.2
.\"  Language: English
.\"
.TH "AFP_LDAP\&.CONF" "5" "30 Mar 2011" "Netatalk 2.2" "Netatalk 2.2"
.\" -----------------------------------------------------------------
.\" * set default formatting
.\" -----------------------------------------------------------------
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.\" -----------------------------------------------------------------
.\" * MAIN CONTENT STARTS HERE *
.\" -----------------------------------------------------------------
.SH "NAME"
afp_ldap.conf \- Configuration file used by afpd(8) to configure a LDAP connection to an LDAP server\&. That is needed for ACL support in order to be able to query LDAP for UUIDs\&.
.SH "DESCRIPTION"
.PP
:ETCDIR:/afp_ldap\&.conf
is the configuration file used by
\fBafpd\fR
to set up an LDAP connection to an LDAP server\&.
.PP
Any line not prefixed with # is interpreted\&.
.PP
.if n \{\
.sp
.\}
.RS 4
.it 1 an-trap
.nr an-no-space-flag 1
.nr an-break-flag 1
.br
.ps +1
\fBNote\fR
.ps -1
.br
.PP
You can use
\fBafpldaptest\fR(1)
to syntactically check your config
.sp .5v
.RE
The required parameters and their meanings are:
.SH "PARAMETER"
.PP
ldap_server
.RS 4
Name or IP address of your LDAP Server
.sp
.RE
.PP
ldap_auth_method
.RS 4
Authentication method:
\fBnone | simple | sasl\fR
.PP
none
.RS 4
anonymous LDAP bind
.RE
.PP
simple
.RS 4
simple LDAP bind
.RE
.PP
sasl
.RS 4
SASL\&. Not yet supported !
.RE
.RE
.PP
ldap_auth_dn
.RS 4
Distinguished Name of the user for simple bind\&.
.sp
.RE
.PP
ldap_auth_pw
.RS 4
Distinguished Name of the user for simple bind\&.
.sp
.RE
.PP
ldap_userbase
.RS 4
DN of the user container in LDAP\&.
.sp
.RE
.PP
ldap_userscope
.RS 4
Search scope for user search:
\fBbase | one | sub\fR
.sp
.RE
.PP
ldap_groupbase
.RS 4
DN of the group container in LDAP\&.
.sp
.RE
.PP
ldap_groupscope
.RS 4
Search scope for user search:
\fBbase | one |\ \&sub\fR
.sp
.RE
.PP
ldap_uuuid_attr
.RS 4
Name of the LDAP attribute with the UUIDs\&.
.sp
Note: this is used both for users and groups\&.
.sp
.RE
.PP
ldap_name_attr
.RS 4
Name of the LDAP attribute with the users short name\&.
.sp
.RE
.PP
ldap_group_attr
.RS 4
Name of the LDAP attribute with the groups short name\&.
.sp
.RE
.SH "EXAMPLES"
.PP
\fBExample.\ \&afp_ldap.conf setup with simple bind\fR
.sp
.if n \{\
.RS 4
.\}
.nf
ldap_server      = localhost
ldap_auth_method = simple
ldap_auth_dn     = cn=admin,dc=domain,dc=org
ldap_auth_pw     = notthisone
ldap_userbase    = ou=users,dc=domain,dc=org
ldap_userscope   = one
ldap_groupbase   = ou=groups,dc=domain,dc=org
ldap_groupscope  = one
ldap_uuid_attr   = some_attribute
ldap_name_attr   = cn
ldap_group_attr  = cn
.fi
.if n \{\
.RE
.\}
.SH "SEE ALSO"
.PP
\fBafpd\fR(8),
\fBAppleVolumes.default\fR(5),
\fBafpldaptest\fR(1)
