'\" t
.\"     Title: atalkd.conf
.\"    Author: [FIXME: author] [see http://docbook.sf.net/el/author]
.\" Generator: DocBook XSL Stylesheets v1.75.2 <http://docbook.sf.net/>
.\"      Date: 22 September 2000
.\"    Manual: Netatalk 2.2
.\"    Source: Netatalk 2.2
.\"  Language: English
.\"
.TH "ATALKD\&.CONF" "5" "22 September 2000" "Netatalk 2.2" "Netatalk 2.2"
.\" -----------------------------------------------------------------
.\" * set default formatting
.\" -----------------------------------------------------------------
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.\" -----------------------------------------------------------------
.\" * MAIN CONTENT STARTS HERE *
.\" -----------------------------------------------------------------
.SH "NAME"
atalkd.conf \- Configuration file used by atalkd(8) to determine the interfaces used by the master Netatalk daemon
.SH "DESCRIPTION"
.PP
\fB:ETCDIR:/atalkd\&.conf\fR
is the configuration file used by atalkd to configure the Appletalk interfaces and their behavior
.PP
Any line not prefixed with
\fB#\fR
is interpreted\&. The configuration lines are composed like:
.PP
\fIInterface\fR
\fB[\fR
\fIoptions\fR
\fB]\fR
.PP
The simplest case is to have either no atalkd\&.conf, or to have one that has no active lines\&. In this case, atalkd should auto\-discover the local interfaces on the machine\&. Please note that you cannot split lines\&.
.PP
The interface is the network interface that this to work over, such as
\fBeth0\fR
for Linux, or
\fBle0\fR
for Sun\&.
.PP
The possible options and their meanings are:
.PP
\fB\-addr \fR\fB\fInet\&.node\fR\fR
.RS 4
Allows specification of the net and node numbers for this interface, specified in Appletalk numbering format (example:
\fB\-addr 66\&.6\fR)\&.
.RE
.PP
\fB\-dontroute\fR
.RS 4
Disables Appletalk routing\&. It is the opposite of
\fB\-router\fR\&.
.RE
.PP
\fB\-net first[\-last]\fR
.RS 4
Allows the available net to be set, optionally as a range\&.
.RE
.PP
\fB\-noallmulti\fR (linux only)
.RS 4
On linux the interfaces, atalkd uses, are set to ALLMULTI by default caused by countless NICs having problems without being forced into this mode (some even don\'t work with allmulti set)\&. In case, you\'ve a NIC known to support multicasts properly, you might want to set this option causing less packets to be processed
.RE
.PP
\fB\-phase ( 1 | 2 )\fR
.RS 4
Specifies the Appletalk phase that this interface is to use (either Phase 1 or Phase 2)\&.
.RE
.PP
\fB\-router\fR
.RS 4
Like
\fB\-seed\fR, but allows single interface routing\&. It is the opposite of
\fB\-dontroute\fR\&.
.RE
.PP
\fB\-seed\fR
.RS 4
The seed option only works if you have multiple interfaces\&. It also causes all missing arguments to be automagically configured from the network\&.
.RE
.PP
\fB\-zone \fR\fB\fIzonename\fR\fR
.RS 4
Specifies a specific zone that this interface should appear on (example:
\fB\-zone "Parking Lot"\fR)\&. Please note that zones with spaces and other special characters should be enclosed in parentheses\&.
.RE
.SH "SEE ALSO"
.PP
\fBatalkd\fR(8)
