.TH atalkd.conf 5 "22 September 2000" 2.0.0 Netatalk 
.SH NAME
atalkd.conf \- Configuration file used by atalkd(8) to determine the interfaces used by the master Netatalk daemon
.SH DESCRIPTION
\fI:ETCDIR:/atalkd.conf\fR is the
configuration file used by atalkd to configure the Appletalk interfaces
and their behavior
.PP
Any line not prefixed with \fI#\fR is
interpreted. The configuration lines are composed like:
.PP
\fIInterface\fR \fI[\fR \fIoptions\fR \fI]\fR
.PP
The simplest case is to have either no atalkd.conf, or to have one
that has no active lines. In this case, atalkd should auto\-discover the
local interfaces on the machine. Please note that you cannot split
lines.
.PP
The interface is the network interface that this to work over, such
as \fIeth0\fR for Linux, or \fIle0\fR for Sun.
.PP
The possible options and their meanings are:
.TP 
\fB\-addr \fInet.node\fB\fR
Allows specification of the net and node numbers for this
interface, specified in Appletalk numbering format (example:
\fB\-addr 66.6\fR).
.TP 
\fB\-dontroute\fR
Disables Appletalk routing. It is the opposite of
\fB\-router\fR.
.TP 
\fB\-net first[\-last]\fR
Allows the available net to be set, optionally as a
range.
.TP 
\fB\-noallmulti\fR (linux only)
On linux the interfaces, atalkd uses, are set to
ALLMULTI by default caused by countless NICs having problems
without being forced into this mode (some even don't work with
allmulti set). In case, you've a NIC known to support multicasts
properly, you might want to set this option causing less packets to
be processed
.TP 
\fB\-phase ( 1 | 2 )\fR
Specifies the Appletalk phase that this interface is to use
(either Phase 1 or Phase 2).
.TP 
\fB\-router\fR
Like \fB\-seed\fR, but allows single interface
routing. It is the opposite of \fB\-dontroute\fR.
.TP 
\fB\-seed\fR
The seed option only works if you have multiple interfaces. It
also causes all missing arguments to be automagically configured
from the network.
.TP 
\fB\-zone \fIzonename\fB\fR
Specifies a specific zone that this interface should appear on (example:
\fB\-zone "Parking Lot"\fR). Please note that zones with
spaces and other special characters should be enclosed in
parentheses.
.SH "SEE ALSO"
\fBatalkd\fR(8)

