'\" t
.\"     Title: netatalk.conf
.\"    Author: [FIXME: author] [see http://docbook.sf.net/el/author]
.\" Generator: DocBook XSL Stylesheets v1.75.2 <http://docbook.sf.net/>
.\"      Date: 30 Mar 2011
.\"    Manual: Netatalk 2.2
.\"    Source: Netatalk 2.2
.\"  Language: English
.\"
.TH "NETATALK\&.CONF" "5" "30 Mar 2011" "Netatalk 2.2" "Netatalk 2.2"
.\" -----------------------------------------------------------------
.\" * set default formatting
.\" -----------------------------------------------------------------
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.\" -----------------------------------------------------------------
.\" * MAIN CONTENT STARTS HERE *
.\" -----------------------------------------------------------------
.SH "NAME"
netatalk.conf \- Configuration file used by Netatalk to determine its general configuration
.SH "SYNOPSIS"
.HP \w'\fB:ETCDIR:/netatalk\&.conf\fR\fB\fR\fB:DESTDIR:/etc/default/netatalk\fR\fB\fR\ 'u
\fB:ETCDIR:/netatalk\&.conf\fR\fB\fR
.br
\fB:DESTDIR:/etc/default/netatalk\fR\fB\fR
.SH "DESCRIPTION"
.PP
\fB:ETCDIR:/netatalk\&.conf\fR
is the configuration file used by afpd to determine what portions of the file system will be shared via AFP, as well as their behaviors\&.
.PP
If netatalk has been configured with \-\-enable\-debian, it is not
\fB:ETCDIR:/netatalk\&.conf\fR
but
\fB:DESTDIR:/etc/default/netatalk\fR\&.
.PP
Any line not prefixed with
\fB#\fR
is interpreted\&. The configuration lines are composed like:
.PP
\fIoption\fR
\fB=\fR
\fIvalue\fR
.PP
The possible options and their meanings are:
.PP
\fBAFPD_GUEST\fR
.RS 4
Sets the id of the guest user to a local user on the system\&.
.RE
.PP
\fBAFPD_MAX_CLIENTS\fR
.RS 4
Sets the maximum number of clients that can simultaneously connect to the server\&.
.RE
.PP
\fBAFPD_RUN\fR
.RS 4
Enables the afpd daemon if set to "yes"\&. This should be enabled if you are planning on using netatalk as a file server\&.
.RE
.PP
\fBAFPD_UAM_LIST\fR
.RS 4
Sets the default UAMs for afpd (and papd, if printer authentication is compiled in) to use\&.
.sp
\fIExample:\fR
\fBAFPD_UAMLIST\fR=\fB"\-U uams_guest\&.so,uams_randnum\&.so"\fR
.RE
.PP
\fBCNID_METAD_RUN\fR
.RS 4
Enables the cnid_metad daemon if set to "yes"\&. This should be enabled if you are going to use the dbd CNID backend\&.
.RE
.PP
\fBCNID_CONFIG\fR
.RS 4
Configuration options for cnid_metad\&. See:
\fBcnid_metad\fR(8)
.RE
.PP
\fBATALK_BGROUND\fR
.RS 4
"yes" will set netatalk to initialize in the background, and "no" will cause normal initialization\&.
.RE
.PP
\fBATALK_NAME\fR
.RS 4
Sets the machines\' Appletalk name\&.
.RE
.PP
\fBATALK_ZONE\fR
.RS 4
Sets the machines\' Appletalk zone\&.
.RE
.PP
\fBATALKD_RUN\fR
.RS 4
Enables the atalkd daemon if set to "yes"\&. This should be enabled if you are planning on providing Appletalk services\&.
.RE
.PP
\fBPAPD_RUN\fR
.RS 4
Enables the papd daemon if set to "yes"\&. This should be enabled if you are planning on using netatalk as a print server\&.
.RE
.PP
\fBATALK_MAC_CHARSET\fR
.RS 4
Set the Mac client codepage, used by atalkd and papd to convert extended characters from the Unix to the Mac codepage\&.
.RE
.PP
\fBATALK_UNIX_CHARSET\fR
.RS 4
Set the Unix codepage, used by atalkd and papd to convert extended characters from the Unix to the Mac codepage\&. Has to match the codepage of the configuration files\&.
.RE
.SH "SEE ALSO"
.PP
\fBafpd\fR(8),
\fBafpd.conf\fR(5),
\fBcnid_metad\fR(8),
\fBatalkd\fR(8),
\fBatalkd.conf\fR(5)
