.\" $Id: netatalk.conf.5.tmpl,v 1.2 2000-09-28 16:49:21 rufustfirefly Exp $
.TH netatalk.conf 5 "28 September 2000" "netatalk 1.5"
.UC 4
.SH NAME
netatalk.conf \- Configuration file used by \fBnetatalk\fR(8)
to determine its general configuration

.SH DESCRIPTION
\fB:ETCDIR:/netatalk.conf\fR is the configuration file used
by afpd to determine what portions of the file system will be shared via
Appletalk, as well as their behaviors.

Any line not prefixed with \fB#\fR is interpreted. The configuration lines
are composed like:

.RS
.sp
.I option
.B =
.I value

.sp
.RE
The possible options and their meanings are:

.TP
.B AFPD_GUEST
Sets the id of the guest user to a local user on the system.

.TP
.B AFPD_MAX_CLIENTS
Sets the maximum number of clients that can simultaneously connect to
the server.

.TP
.B AFPD_RUN
Enables the afpd daemon if set to "yes". This should be enabled if you
are planning on using netatalk as a file server.

.TP
.B AFPD_UAM_LIST
Sets the default UAMs for afpd (and papd, if printer authentication is
compiled in) to use.

\fIExample:\fR
\fBAFPD_UAMLIST\fR=\fB"-U uams_guest.so,uams_randnum.so"\fR

.TP
.B ATALK_BGROUND
"yes" will set netatalk to initialize in the background, and "no" will
cause normal initialization.

.TP
.B ATALK_NAME
Sets the machines' Appletalk name.

.TP
.B ATALK_ZONE
Sets the machines' Appletalk zone.

.TP
.B ATALKD_RUN
Enables the atalkd daemon if set to "yes". This should be enabled if
you are planning on providing Appletalk services.

.TP
.B PAPD_RUN
Enables the papd daemon if set to "yes". This should be enabled if you
are planning on using netatalk as a print server.

.SH SEE ALSO
atalkd(8), atalkd.conf(5)
