'\" t
.\"     Title: papd.conf
.\"    Author: [FIXME: author] [see http://docbook.sf.net/el/author]
.\" Generator: DocBook XSL Stylesheets v1.75.2 <http://docbook.sf.net/>
.\"      Date: 06 Sep 2004
.\"    Manual: Netatalk 2.2
.\"    Source: Netatalk 2.2
.\"  Language: English
.\"
.TH "PAPD\&.CONF" "5" "06 Sep 2004" "Netatalk 2.2" "Netatalk 2.2"
.\" -----------------------------------------------------------------
.\" * set default formatting
.\" -----------------------------------------------------------------
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.\" -----------------------------------------------------------------
.\" * MAIN CONTENT STARTS HERE *
.\" -----------------------------------------------------------------
.SH "NAME"
papd.conf \- Configuration file used by papd(8) to determine the configuration of printers used by the Netatalk printing daemon
.SH "DESCRIPTION"
.PP
\fB:ETCDIR:/papd\&.conf\fR
is the configuration file used by papd to configure the printing services offered by netatalk\&. Please note that papd must be enabled in
\fB:ETCDIR:/netatalk\&.conf\fR
for this to take any effect\&.
\fBpapd\fR
shares the same defaults as lpd on many systems, but not Solaris\&.
.PP
Any line not prefixed with
\fB#\fR
is interpreted\&. The configuration lines are composed like:
.PP
\fIprintername:[options]\fR
.PP
On systems running a System V printing system the simplest case is to have either no papd\&.conf, or to have one that has no active lines\&. In this case, atalkd should auto\-discover the local printers on the machine\&. Please note that you can split lines by using
\fB\e\efR\&.\fR
.PP
printername may be just a name (\fBPrinter 1\fR), or it may be a full name in nbp_name format (\fBPrinter 1:LaserWriter@My Zone\fR)\&.
.PP
Systems using a BSD printing system should make use of a pipe to the printing command in question within the
\fBpr\fR
option (eg\&.
\fBpr=|/usr/bin/lpr\fR)\&.
.PP
When CUPS support is compiled in, then
\fBcupsautoadd \fR
as the first entry in papd\&.conf will automagically share all CUPS printers by papd utilizing the PPDs assigned in CUPS (customizable \-\- see below)\&. This can be overwritten for individal printers by subsequently adding individual entries using the CUPS queue name as
\fBpr \fR
entry\&. Note: CUPS support is mutually exclusive with System V support described above\&.
.PP
The possible options are colon delimited (\fB:\fR), and lines must be terminated with colons\&. The possible options and flags are:
.PP
\fBam=(uams list)\fR
.RS 4
The
\fBam\fR
option allows specific UAMs to be specified for a particular printer\&. It has no effect if the
\fBau\fR
flag is not present or if papd authentication was not built into netatalk\&. Note: possible values are
\fBuams_guest\&.so\fR
and
\fB uams_clrtxt\&.so\fR
only\&. The first method requires a valid username, but no password\&. The second requires both a valid username and the correct password\&.
.RE
.PP
\fBau\fR
.RS 4
If present, this flag enables authentication for the printer\&. Please note that papd authentication must be built into netatalk for this to take effect\&.
.RE
.PP
\fBco=(CUPS options)\fR
.RS 4
The
\fBco\fR
option allows options to be passed through to CUPS (eg\&.
\fBco="protocol=TBCP" \fR
or
\fBco="raw"\fR)\&.
.RE
.PP
\fBcupsautoadd[:type][@zone]\fR
.RS 4
If used as the first entry in papd\&.conf this will share all CUPS printers via papd\&. type/zone settings as well as other parameters assigned to this special printer share will apply to all CUPS printers\&. Unless the
\fBpd\fR
option is set, the CUPS PPDs will be used\&. To overwrite these global settings for individual printers simply add them subsequently to papd\&.conf and assign different settings\&.
.RE
.PP
\fBfo\fR
.RS 4
If present, this flag enables a hack to translate line endings originating from pre Mac OS X LaserWriter drivers to let
\fBfoomatic\-rip\fR
recognize foomatic PPD options set in the printer dialog\&. Attention: Use with caution since this might corrupt binary print jobs!
.RE
.PP
\fBop=(operator)\fR
.RS 4
This specifies the operator name, for lpd spooling\&.
.RE
.PP
\fBpa=(appletalk address)\fR
.RS 4
Allows specification of Appletalk addresses\&. Usually not needed\&.
.RE
.PP
\fBpd=(path to ppd file)\fR
.RS 4
Specifies a particular PPD (printer description file) to associate with the selected printer\&.
.RE
.PP
\fBpr=(lpd/CUPS printer name or pipe command)\fR
.RS 4
Sets the
\fBlpd\fR
or
\fBCUPS\fR
printer that this is spooled to\&.
.RE
.SH "EXAMPLES"
.PP
Unless CUPS support has been compiled in (which is default from Netatalk 2\&.0 on) one simply defines the lpd queue in question by setting the
\fBpr\fR
parameter to the queue name, in the following example "ps"\&. If no
\fBpr\fR
parameter is set, the default printer will be used\&.
.PP
\fBExample.\ \&papd.conf System V printing system examples\fR
.PP
The first spooler is known by the AppleTalk name Mac Printer Spooler, and uses a PPD file located in
/usr/share/lib/ppd\&. In addition, the user mcs will be the owner of all jobs that are spooled\&. The second spooler is known as HP Printer and all options are the default\&.
.sp
.if n \{\
.RS 4
.\}
.nf
Mac Printer Spooler:\e
   :pr=ps:\e
   :pd=/usr/share/lib/ppd/HPLJ_4M\&.PPD:\e
   :op=mcs:

HP Printer:\e
   :
.fi
.if n \{\
.RE
.\}

.PP
An alternative to the technique outlined above is to direct papd\'s output via a pipe into another program\&. Using this mechanism almost all printing systems can be driven\&.
.PP
\fBExample.\ \&papd.conf examples using pipes\fR
.PP
The first spooler is known as HP 8100\&. It pipes the print job to
\fB/usr/bin/lpr\fR
for printing\&. PSSP authenticated printing is enabled, as is CAP\-style authenticated printing\&. Both methods support guest and cleartext authentication as specified by the \'\fBam\fR\' option\&. The PPD used is
/etc/atalk/ppds/hp8100\&.ppd\&.
.sp
.if n \{\
.RS 4
.\}
.nf
HP 8100:\e
   :pr=|/usr/bin/lpr \-Plp:\e
   :sp:\e
   :ca=/tmp/print:\e
   :am=uams_guest\&.so,uams_pam\&.so:\e
   :pd=/etc/atalk/ppds/hp8100\&.ppd:
      
.fi
.if n \{\
.RE
.\}
.sp

.PP
Starting with Netatalk 2\&.0 direct CUPS integration is available\&. In this case, defining only a queue name as
\fBpr\fR
parameter won\'t invoke the SysV lpd daemon but uses CUPS instead\&. Unless a specific PPD has been assigned using the
\fBpd\fR
switch, the PPD configured in CUPS will be used by
\fBpapd\fR, too\&.
.PP
There exists one special share named "cupsautoadd"\&. If this is present as the first entry then all available CUPS queues will be served automagically using the parameters assigned to this global share\&. But subsequent printer definitions can be used to override these global settings for individual spoolers\&.
.PP
\fBExample.\ \&papd.conf CUPS examples\fR
.PP
The first entry sets up automatic sharing of all CUPS printers\&. All those shares appear in the zone "1st floor" and since no additional settings have been made, they use the CUPS printer name as NBP name and use the PPD configured in CUPS\&. The second entry defines different settings for one single CUPS printer\&. It\'s NBP name is differing from the printer\'s name and the registration happens in another zone\&.
.sp
.if n \{\
.RS 4
.\}
.nf
cupsautoadd@1st floor:op=root:

Boss\' LaserWriter@2nd floor:\e
   :pr=laserwriter\-chief:
.fi
.if n \{\
.RE
.\}

.SH "SEE ALSO"
.PP
\fBpapd\fR(8),
\fBatalkd.conf\fR(5),
\fBlpd\fR(8),
\fBlpoptions\fR(8)
