aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h*
test-driver
*.tar.gz
*~
*.la
*.lo
*.o
*.tar.bz2
*.tar.gz
*.tar.xz
.deps
.libs