Makefile
Makefile.in
stamp-h
stamp-h1
stamp-h.in
confdefs.h
config.*
configure
configure.lineno
configure.scan
depcomp
compile
missing
mkinstalldirs
install-sh
aclocal.m4
libtool
ltconfig
ltmain.sh
autom4te.cache
autoscan.log
test-driver
*.rpm
*.deb
*.dsc
*.changes
*.tar.gz
*.diff.gz
*.diff
*.orig
*.rej
*~
*.o
