compiler:
  - gcc
  - clang
language: c
before_install:
  - sudo apt-get -qq update
  - sudo apt-get -qq install -y --no-install-recommends
      libevent-dev
      libssl-dev
      libgcrypt-dev
      libkrb5-dev
      libpam0g-dev
      libdb-dev
      libtdb-dev
      libmysqlclient-dev
      libavahi-client-dev
      libacl1-dev
      libldap2-dev
      libcrack2-dev
      systemtap-sdt-dev
      libdbus-1-dev
      libdbus-glib-1-dev
      libglib2.0-dev
      libtracker-sparql-0.16-dev
      libtracker-miner-0.16-dev

before_script: ./bootstrap
script:
  - ./configure --disable-dependency-tracking
  - make -j4
  - make check
