a2boot.service
afpd.service
atalkd.service
cnid.service
io.netatalk.daemon.plist
netatalk
netatalkd
papd.service
rc.a2boot.netbsd
rc.afpd.netbsd
rc.atalk.debian
rc.atalk.gentoo
rc.atalk.redhat-sysv
rc.atalk.suse-sysv
rc.atalk.systemd
rc.atalk.sysv
rc.atalkd.netbsd
rc.cnid_metad.netbsd
rc.papd.netbsd
rc.timelord.netbsd
timelord.service
