Makefile
Makefile.in
rc.atalk.bsd
rc.atalk.redhat-sysv
rc.atalk.redhat-systemd
rc.atalk.suse
rc.atalk.tru64
rc.atalk.sysv
service.atalk.redhat-systemd
netatalk
atalk
netatalk.service
netatalk.sh
.gitignore
*.o
