# This file is part of Netatalk :NETATALK_VERSION:.

[Unit]
Description=Apple II boot daemon
Documentation=man:a2boot(8)
Documentation=https://netatalk.io/
After=network-online.target atalkd.service
Requires=atalkd.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=:SBINDIR:/a2boot
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
Also=atalkd.service
