# This file is part of Netatalk :NETATALK_VERSION:.

[Unit]
Description=Netatalk AppleTalk daemon
Documentation=man:atalkd(8) man:atalkd.conf(5) man:nbp(1)
Documentation=https://netatalk.io/
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
ExecStartPre=/bin/sh -c 'systemctl set-environment ATALK_NAME=$$(hostname|cut -d. -f1)'
ExecStart=:SBINDIR:/atalkd
ExecStartPost=-:BINDIR:/nbprgstr -p 4 "${ATALK_NAME}:Workstation"
ExecStartPost=-:BINDIR:/nbprgstr -p 4 "${ATALK_NAME}:netatalk"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
