# This file is part of Netatalk :NETATALK_VERSION:.

[Unit]
Description=Netatalk CNID database daemon for AFP fileserver
Documentation=man:cnid_dbd(8) man:cnid_metad(8) man:dbd(1)
Documentation=https://netatalk.io/
After=network-online.target
Before=afpd.service
Requires=afpd.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=:SBINDIR:/cnid_metad
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
Also=afpd.service
