#!/bin/sh
#
# PROVIDE: a2boot
# REQUIRE: atalkd
#
# AppleTalk Apple II netboot daemon. (netatalk :NETATALK_VERSION:)
# Make sure not to start atalkd in the background:
# its data structures must have time to stablize before running the
# other processes.
#

. /etc/rc.subr

name="a2boot"
rcvar=$name
command=":SBINDIR:/a2boot"

load_rc_config $name
run_rc_command "$1"

