#!/bin/sh
#
# Netatalk :NETATALK_VERSION: daemons.
# If you use AppleTalk, Make sure not to start atalkd in the background:
# its data structures must have time to stablize before running the
# other processes.
#

#
# SUNOS: UNCOMMENT THESE LINES TO LOAD THE KERNEL MODULE.  Note that
# modunload-ing netatalk may cause your machine to panic or hang.
#
##echo -n 'loading netatalk: '
##if [ -f :ETCDIR:/netatalk.o ]; then
##	/usr/etc/modload -sym :ETCDIR:/netatalk.o;
##fi

ATALK_NAME=`hostname|sed 's/\..*$//'`
ATALK_UNIX_CHARSET='LOCALE'
ATALK_MAC_CHARSET='MAC_ROMAN'

CNID_METAD_RUN=yes
AFPD_RUN=yes
AFPD_MAX_CLIENTS=20
AFPD_UAMLIST="-U uams_dhx.so,uams_dhx2.so"
AFPD_GUEST=nobody
CNID_CONFIG="-l log_note"

ATALKD_RUN=no
PAPD_RUN=no
TIMELORD_RUN=no
#A2BOOT_RUN=no
ATALK_ZONE=
#ATALK_BGROUND=no

netatalk_conf=":ETCDIR:/netatalk.conf"

[ -f ${netatalk_conf} ] && . ${netatalk_conf}

echo -n 'starting netatalk daemons:'
if [ X"${ATALKD_RUN}" != X"no" ]; then
if [ -x :SBINDIR:/atalkd ]; then
	:SBINDIR:/atalkd;		echo -n ' atalkd'
fi

if [ -x :BINDIR:/nbprgstr ]; then
	:BINDIR:/nbprgstr -p 4 ${ATALK_NAME}:Workstation
	:BINDIR:/nbprgstr -p 4 ${ATALK_NAME}:netatalk
	echo -n ' nbprgstr'
fi
fi

if [ -x :SBINDIR:/papd -a X"${PAPD_RUN}" != X"no" ]; then
	:SBINDIR:/papd;		echo -n ' papd'
fi

if [ -x :SBINDIR:/cnid_metad -a X"${CNID_METAD_RUN}" != X"no" ]; then
	:SBINDIR:/cnid_metad $CNID_CONFIG
	echo -n ' cnid_metad'
fi

if [ -x :SBINDIR:/afpd -a X"${AFPD_RUN}" != X"no" ]; then
	:SBINDIR:/afpd ${AFPD_UAMLIST} -g ${AFPD_GUEST} \
	    -c ${AFPD_MAX_CLIENTS} -n ${ATALK_NAME}${ATALK_ZONE}
	echo -n ' afpd'
fi

if [ -x :SBINDIR:/timelord -a X"${TIMELORD_RUN}" != X"no" ]; then
	:SBINDIR:/timelord;		echo -n ' timelord'
fi

					echo '.'
