#! /bin/sh
# chkconfig: - 91 35
# description: Netatalk AFP fileserver for Macintosh clients
#
# Netatalk :NETATALK_VERSION: daemons.

ATALK_BIN=:BINDIR:
ATALK_CONF_DIR=:ETCDIR:
ATALK_SBIN=:SBINDIR:

# Source function library.
. /etc/rc.d/init.d/functions

# Source networking configuration.
. /etc/sysconfig/network

# initialize return values
RETVAL=1
RETVAL_CNID_METAD=0
RETVAL_AFPD=0

# startup code for everything
atalk_startup() {
    # Check that networking is up.
    if [ ${NETWORKING} = "no" ]; then
        echo "[Network isn't started]"; 
        exit 1;
    fi

    if [ -x ${ATALK_SBIN}/cnid_metad ] ; then
        echo -n "  Starting cnid_metad:"
        daemon ${ATALK_SBIN}/cnid_metad
        RETVAL_CNID_METAD=$?
        echo
    fi

    if [ -x ${ATALK_SBIN}/afpd ] ; then
        echo -n "  Starting afpd:"
        daemon ${ATALK_SBIN}/afpd
        RETVAL_AFPD=$?
        echo
    fi

    if [ $RETVAL_CNID_METAD -eq 0 -a $RETVAL_AFPD -eq 0 ]; then
        RETVAL=0
        touch /var/lock/subsys/atalk || RETVAL=1
    fi
}

case "$1" in
    'start')
        echo -n 'Starting Netatalk services: '
        echo
        atalk_startup
        echo 
        ;;
    'stop')
        echo 'Shutting down Netatalk services: '
        if [ -x ${ATALK_SBIN}/afpd ]; then
            echo -n "  Stopping afpd:"
            killproc afpd
            RETVAL_AFPD=$?
            echo
        fi

        if [ -x ${ATALK_SBIN}/cnid_metad ]; then
            echo -n "  Stopping cnid_metad:"
            killproc cnid_metad
            RETVAL_CNID_METAD=$?
            echo
        fi

        if [ $RETVAL_AFPD -eq 0 -a $RETVAL_CNID_METAD -eq 0 ] ; then
            RETVAL=0
            rm -f /var/lock/subsys/atalk || RETVAL=1
        fi
        echo ""
        ;;
    'restart'|'reload')
        $0 stop
        $0 start
        RETVAL=$?
        ;;
    'status')
        status cnid_metad
        status afpd
        RETVAL=$?
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|reload|status}"
        exit 2
esac

exit $RETVAL
