#!/sbin/runscript

# Netatalk :NETATALK_VERSION: daemons.

depend() {
    need net
    use logger dns
}

atalk_startup () {
    ebegin "Starting cnid_metad"
    start-stop-daemon --start --quiet --exec :SBINDIR:/cnid_metad
    eend $?
    
    ebegin "Starting afpd"
    start-stop-daemon --start --quiet --exec :SBINDIR:/afpd
    eend $?
}

start () {
    atalk_startup
}

stop () {
    ebegin "Stopping afpd"
    start-stop-daemon --stop --quiet --exec :SBINDIR:/afpd
    eend $?
    
    ebegin "Stopping cnid_metad"
    start-stop-daemon --stop --quiet --exec :SBINDIR:/cnid_metad
    eend $?
}
