#! /bin/sh
#
# Start/stop the Netatalk :NETATALK_VERSION: daemons.
#

ATALK_BIN=:BINDIR:
ATALK_CONF_DIR=:ETCDIR:
ATALK_SBIN=:SBINDIR:

ATALK_START_CNID_METAD=1
ATALK_START_AFPD=1

#
# kill the named process(es)
#
killproc() {
    pid=`/usr/bin/ps -e |
    /usr/bin/grep $1 |
    /usr/bin/grep -v grep |
    /usr/bin/sed -e 's/^  *//' -e 's/ .*//'`
    [ "$pid" != "" ] && kill $pid
}

case "$1" in

#
# Start the netatalk server processes.
#

    'start')

        echo 'starting netatalk daemons: \c'
        if [ -x ${ATALK_SBIN}/cnid_metad ]; then
            ${ATALK_SBIN}/cnid_metad;             echo ' cnid_metad\c'
        fi

        if [ -x ${ATALK_SBIN}/afpd ]; then
            ${ATALK_SBIN}/afpd;                   echo ' afpd\c'
        fi

        echo '.'

        ;;

#
# Stop the netatalk server processes.
#

    'stop')

        echo 'stopping netatalk daemons:\c'

        if [ -x ${ATALK_SBIN}/afpd ]; then
            killproc afpd;                        echo ' afpd\c'
        fi

        if [ -x ${ATALK_SBIN}/cnid_metad ]; then
            killproc cnid_metad;                  echo ' cnid_metad\c'
        fi

        echo '.'
        ;;

#
# Usage statement.
#

    *)
        echo "usage: $0 {start|stop}"
        exit 1
        ;;
esac
