#!/bin/sh
#
# Netatalk :NETATALK_VERSION: daemons.
#

echo -n 'starting netatalk daemons:'

if [ -x :SBINDIR:/cnid_metad ]; then
    :SBINDIR:/cnid_metad
    echo -n ' cnid_metad'
fi

if [ -x :SBINDIR:/afpd ]; then
    :SBINDIR:/afpd
    echo -n ' afpd'
fi

echo '.'
