#!/bin/sh
#
# PROVIDE: cnid_metad
#
# Start cnid_dbd daemons on request.  (netatalk :NETATALK_VERSION:)
# The cnid_dbd is an implementation for accessing to CNID databases
# through a dedicated daemon process.
#

. /etc/rc.subr

name="cnid_metad"
rcvar=$name
command=":SBINDIR:/cnid_metad"
etcdir=":ETCDIR:"

load_rc_config $name
run_rc_command "$1"

