#!/bin/sh

# Copyright (c) 2001-2024, Joe Marcus Clarke <marcus@FreeBSD.org>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice, this
#    list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#
# Netatalk @netatalk_version@ daemons.
#

# PROVIDE: netatalk
# REQUIRE: DAEMON @freebsd_zeroconf@
# KEYWORD: shutdown
#
# AFP fileserver for Mac clients.  Add the following to /etc/rc.conf to
# enable:
#
# netatalk_enable="YES"
#

netatalk_enable=${netatalk_enable-"NO"}

. /etc/rc.subr

name=netatalk
rcvar=netatalk_enable

load_rc_config ${name}

command="@sbindir@/${name}"

extra_commands="reload"
reload_cmd="netatalk_reload"

netatalk_reload()
{
        local status

        if ! status=`run_rc_command status 2>&1`; then
                echo $status
                return 1
        fi
        echo 'Reloading netatalk.'
        kill -HUP $rc_pid
}

run_rc_command "$1"
