#!/sbin/openrc-run
# Copyright 1999-2012 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
#
# Netatalk @netatalk_version@ daemons.

command="@sbindir@/${SVCNAME}"

depend() {
	need net
	use avahi-daemon
	use logger dns
	after entropy
}
