#!/bin/sh
#
# PROVIDE: papd
# REQUIRE: atalkd
#
# AppleTalk print server daemon.  (netatalk :NETATALK_VERSION:)
# Make sure not to start atalkd in the background:
# its data structures must have time to stablize before running the
# other processes.
#

. /etc/rc.subr

name="papd"
rcvar=$name
command=":SBINDIR:/papd"
pidfile="/var/run/${name}.pid"
required_files=":ETCDIR:/papd.conf"

load_rc_config $name
run_rc_command "$1"

