#! /bin/sh
# chkconfig: - 91 35
# description: Netatalk AFP fileserver for Macintosh clients
#
# Netatalk :NETATALK_VERSION: daemons.

NETATALK_CONF_DIR=:ETCDIR:
NETATALK_SBIN=:SBINDIR:

# Source function library.
. /etc/rc.d/init.d/functions

# Source networking configuration.
. /etc/sysconfig/network

# initialize return values
RETVAL=1
RETVAL_CNID_METAD=0
RETVAL_AFPD=0

# startup code for everything
netatalk_startup() {
    # Check that networking is up.
    if [ ${NETWORKING} = "no" ]; then
        echo "[Network isn't started]"; 
        exit 1;
    fi

    if [ -x ${NETATALK_SBIN}/netatalk ] ; then
        echo -n "  Starting netatalk:"
        daemon ${NETATALK_SBIN}/netatalk
        RETVAL_NETATALK=$?
        echo
    fi

    if [ $RETVAL_NETATALK -eq 0 ]; then
        RETVAL=0
        touch /var/lock/subsys/netatalk || RETVAL=1
    fi
}

case "$1" in
    'start')
        echo -n 'Starting Netatalk services: '
        echo
        netatalk_startup
        echo 
        ;;
    'stop')
        echo 'Shutting down Netatalk services: '
        if [ -x ${NETATALK_SBIN}/netatalk ]; then
            echo -n "  Stopping netatalk:"
            killproc netatalk
            RETVAL_NETATALK=$?
            echo
        fi

        if [ $RETVAL_CNID_METAD -eq 0 ] ; then
            RETVAL=0
            rm -f /var/lock/subsys/netatalk || RETVAL=1
        fi
        echo ""
        ;;
    'restart'|'reload')
        $0 stop
        $0 start
        RETVAL=$?
        ;;
    'status')
        status netatalk
        RETVAL=$?
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|reload|status}"
        exit 2
esac

exit $RETVAL
