# This is experimental service file.
# See distrib/systemd/README
# This file is part of netatalk :NETATALK_VERSION:.

[Unit]
Description=Apple II boot daemon
After=syslog.target network.target atalkd.service
Requires=atalkd.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=:SBINDIR:/a2boot
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
Also=atalkd.service
