# This file is part of netatalk :NETATALK_VERSION:.

[Unit]
Description=Netatalk CNID database daemon for AFP fileserver
After=syslog.target network.target
Before=afpd.service
Requires=afpd.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=:SBINDIR:/cnid_metad -l log_note
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
Also=afpd.service
