# This file is part of netatalk :NETATALK_VERSION:.

[Unit]
Description=File and Printer sharing for Macintosh clients
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "exec :PKGLIBEXECDIR:/netatalk.sh"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
