# This file is part of netatalk :NETATALK_VERSION:.

# The method of using shell-script "netatalk.sh" is not suitable.
# The future service files are due to start daemons directly.
# See netatalk-xxx/distrib/systemd/ directory in tarball.

[Unit]
Description=File and Printer sharing for Macintosh clients
After=syslog.target network.target slpd.service avahi-daemon.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "exec :PKGLIBEXECDIR:/netatalk.sh"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
