'\" t
.\"     Title: atalkd
.\"    Author: [FIXME: author] [see http://docbook.sf.net/el/author]
.\" Generator: DocBook XSL Stylesheets v1.75.2 <http://docbook.sf.net/>
.\"      Date: 06 Sep 2004
.\"    Manual: Netatalk 2.2
.\"    Source: Netatalk 2.2
.\"  Language: English
.\"
.TH "ATALKD" "8" "06 Sep 2004" "Netatalk 2.2" "Netatalk 2.2"
.\" -----------------------------------------------------------------
.\" * set default formatting
.\" -----------------------------------------------------------------
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.\" -----------------------------------------------------------------
.\" * MAIN CONTENT STARTS HERE *
.\" -----------------------------------------------------------------
.SH "NAME"
atalkd \- AppleTalk RTMP, NBP, ZIP, and AEP manager
.SH "SYNOPSIS"
.HP \w'\fBatalkd\fR\fB\fR\fB\fR\fB\fR\fB\fR\fB\fR\fB\fR\ 'u
\fBatalkd\fR\fB\fR\fB\fR\fB\fR\fB\fR\fB\fR\fB\fR [\-f\ \fIconfigfile\fR] [\-1] [\-2]
.SH "DESCRIPTION"
.PP
\fBatalkd\fR
is responsible for all user level AppleTalk network management\&. This includes routing, name registration and lookup, zone lookup, and the AppleTalk Echo Protocol (similar to
\fBping\fR(8))\&.
\fBatalkd\fR
is typically started at boot time, out of
/etc/rc\&. It first reads from its configuration file,
:ETCDIR:/atalkd\&.conf\&. If there is no configuration file,
\fBatalkd\fR
will attempt to configure all available interfaces and will create a configuration file\&. The file consists of a series of interfaces, one per line\&. Lines with `#\' in the first column are ignored, as are blank lines\&. The syntax is
.PP
\fIinterface\fR
[
\fB\-seed\fR
] [
\fB\-phase\fR
\fInumber\fR
] [
\fB\-net\fR
\fInet\-range\fR
] [
\fB\-addr\fR
\fIaddress\fR
] [
\fB\-zone\fR
\fIzonename\fR
] \&.\&.\&.
.PP
Note that all fields except the interface are optional\&. The loopback interface is configured automatically\&. If
\fB\-seed\fR
is specified, all other fields must be present\&. Also,
\fBatalkd\fR
will exit during bootstrap\%ping, if a router disagrees with its seed information\&. If
\fB\-seed\fR
is not given, all other information may be overriden during auto\-configuration\&. If no
\fB\-phase\fR
option is given, the default phase as given on the command line is used (the default is 2)\&. If
\fB\-addr\fR
is given and
\fB\-net\fR
is not, a net\-range of one is assumed\&.
.PP
The first \-zone directive for each interface is the ``default\'\' zone\&. Under Phase 1, there is only one zone\&. Under Phase 2, all routers on the network are configured with the default zone and must agree\&.
\fBatalkd\fR
maps ``*\'\' to the default zone of the first interface\&. Note: The default zone for a machine is determined by the configuration of the local routers; to appear in a non\-default zone, each service, e\&.g\&.
\fBafpd\fR, must individually specify the desired zone\&. See also
\fBnbp_name\fR(3)\&.
.SH "ROUTING"
.PP
If you are connecting a netatalk router to an existing AppleTalk internet, you should first contact your local network administrators to obtain appropriate network addresses\&.
.PP
\fBatalkd\fR
can provide routing between interfaces by configuring multiple interfaces\&. Each interface must be assigned a unique net\-range
between 1 and 65279 (0 and 65535 are illegal, and addresses between 65280 and 65534 are reserved for startup)\&. It is best to choose the smallest useful net\-range, i\&.e\&. if you have three machines on an Ethernet, don\'t chose a net\-range of 1000\-2000\&. Each net\-range may have an arbitrary list of zones associated with it\&.
.SH "EXAMPLES"
.PP
Below is an example configuration file for a sun4/40\&. The machine has two interfaces, ``le0\'\' and ``le1\'\'\&. The ``le0\'\' interface is configured automatically from other routers on the network\&. The machine is the only router for the ``le1\'\' interface\&.
.PP
.if n \{\
.RS 4
.\}
.nf
   le0
   le1 \-seed \-net 9461\-9471 \-zone netatalk \-zone Argus
.fi
.if n \{\
.RE
.\}
.sp
\fBatalkd\fR
automatically acts as a router if there is more than one interface\&.
.SH "FILES"
.PP
:ETCDIR:/atalkd\&.conf
configuration file
.SH "BUGS"
.PP
On some systems,
\fBatalkd\fR
can not be restarted\&.
.SH "SEE ALSO"
.PP
\fBatalkd.conf\fR(5)
