'\" t
.\"     Title: netatalk
.\"    Author: [FIXME: author] [see http://docbook.sf.net/el/author]
.\" Generator: DocBook XSL Stylesheets v1.75.2 <http://docbook.sf.net/>
.\"      Date: 22 Mar 2012
.\"    Manual: Netatalk 3.0
.\"    Source: Netatalk 3.0
.\"  Language: English
.\"
.TH "NETATALK" "8" "22 Mar 2012" "Netatalk 3.0" "Netatalk 3.0"
.\" -----------------------------------------------------------------
.\" * set default formatting
.\" -----------------------------------------------------------------
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.\" -----------------------------------------------------------------
.\" * MAIN CONTENT STARTS HERE *
.\" -----------------------------------------------------------------
.SH "NAME"
netatalk \- Netatalk AFP server service controller daemon
.SH "SYNOPSIS"
.HP \w'\fBnetatalk\fR\fB\fR\fBnetatalk\fR\fB\fR\ 'u
\fBnetatalk\fR\fB\fR
.br
\fBnetatalk\fR\fB\fR
.SH "DESCRIPTION"
.PP
\fBnetatalk\fR
is the service controller daemon responsible for starting and restarting the AFP daemon
\fBafpd\fR
and the CNID daemon
\fBcnid_metad\fR\&. It is normally started at boot time from /etc/rc\&.
.SH "SIGNALS"
.PP
SIGTERM
.RS 4
Stop Netatalk service, AFP and CNID daemons
.RE
.PP
SIGQUIT
.RS 4
Stop Netatalk service, AFP and CNID master daemons, but keep all session AFP processes running\&. Can be used to implement AFP service without downtime\&.
.RE
.PP
SIGHUP
.RS 4
Sending a
\fBSIGHUP\fR
will cause the AFP daemon reload its configuration file\&.
.RE
.SH "FILES"
.PP
:ETCDIR:/afp\&.conf
.RS 4
configuration file used by afpd
.RE
.SH "SEE ALSO"
.PP
\fBhosts_access\fR(5),
\fBafp.conf\fR(5),
\fBafp_signature.conf\fR(5),
\fBafp_voluuid.conf\fR(5),
\fBafp_ldap.conf\fR(5),
\fBdbd\fR(1)\&.
