.TH "TIMELORD" "8" "01 Nov 2022" "Netatalk 2.2" "Netatalk 2.2"
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.SH "NAME"
timelord \- Macintosh time server daemon
.SH "SYNOPSIS"
.PP
timelord [\-d] [\-l] [\-n
\fIfilename\fR]
.SH "DESCRIPTION"
.PP
\fBtimelord\fR
is a simple time server for Macintosh computers that use the
\fBtardis\fR
client\&.
.SH "OPTIONS"
.PP
\fB\-d\fR
.RS 4
Debug mode, i\&.e\&. don\'t disassociate from controlling TTY\&.
.RE
.PP
\fB\-l\fR
.RS 4
Use the time zone sensitive localtime of the server. The default behavior when not using this option is GMT.
.RE
.PP
\fB\-n\fR \fInbpname\fR
.RS 4
Register this server as
\fInbpname\fR\&. This defaults to the hostname\&.
.RE
