#
# CONFIGURATION FOR AFPD (Netatalk 2.x)
#
# Each single line defines a virtual server that should be available.
# Though, using "\" character, newline escaping is supported.
# Empty lines and lines beginning with `#' are ignored.
# Options in this file will override both compiled-in defaults
# and command line options.
#
# Format:
#  - [options]               to specify options for the default server
#  "Server name" [options]   to specify an additional server
#

# default:
# - -transall -uamlist uams_dhx.so,uams_dhx2.so
