# Netatalk 2.x afp volume cofiguration

#
# volume format:
# :DEFAULT: [all of the default options except volume name]
# path [name] [options]
#

:DEFAULT: options:upriv,usedots

# Shared volumes are defined below, one per line.
~ "$u's Home Directory"
