Makefile
Makefile.in
stamp-h
stamp-h1
stamp-h.in
confdefs.h
config.*
configure
configure.lineno
configure.scan
depcomp
compile
missing
mkinstalldirs
install-sh
aclocal.m4
libtool
ltconfig
ltmain.sh
autom4te.cache
autoscan.log
*.rpm
*.deb
*.dsc
*.changes
*.tar.gz
*.diff.gz
*~
*.o
*.lo
*.la
.deps/
libevent.pc
libevent_openssl.pc
libevent_pthreads.pc
.libs/