# This is experimental service file.
# See distrib/systemd/README

[Unit]
Description=Macintosh time server daemon
After=syslog.target network.target netatalk-atalkd.service
Requires=netatalk-atalkd.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/sbin/timelord
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
Also=netatalk-atalkd.service
