.TH APPLE_CP 1 "15 Oct 2001" "Netatalk 1.5"
.SH NAME
apple_cp \- Do an apple copy, copying the resource fork as well
.SH SYNOPSIS
.BR :BINDIR:/apple_cp
\fISOURCE DEST\fR
.br
.BR :BINDIR:/apple_cp
\fISOURCE\fR... \fIDIRECTORY\fR

.SH DESCRIPTION
.BR apple_cp
is a perl script to copy SOURCE to DEST or multiple SOURCE(s) to
DIRECTORY. It also copies the resource forks to the .AppleDouble
directory. If the .AppleDouble directory doesn't exist for DEST or
DIRECTORY it will create it.

.SH EXAMPLES

.BR :BINDIR:/apple_cp
test.text /target/directory/

.BR :BINDIR:/apple_cp
test.text /target/directory/test2.text

.BR :BINDIR:/apple_cp
test.text testing.text /target/directory/

.SH REPORTING BUGS
Report bugs to the Netatalk-devel list <netatalk-devel@lists.sourceforge.net>.

.SH SEE ALSO
.BR apple_mv (1),
.BR apple_rm (1).
