'\" t
.\"     Title: apple_rm
.\"    Author: [FIXME: author] [see http://docbook.sf.net/el/author]
.\" Generator: DocBook XSL Stylesheets v1.74.3 <http://docbook.sf.net/>
.\"      Date: 22 Aug 2004
.\"    Manual: Netatalk 2.1
.\"    Source: Netatalk 2.1
.\"  Language: English
.\"
.TH "APPLE_RM" "1" "22 Aug 2004" "Netatalk 2.1" "Netatalk 2.1"
.\" -----------------------------------------------------------------
.\" * set default formatting
.\" -----------------------------------------------------------------
.\" disable hyphenation
.nh
.\" disable justification (adjust text to left margin only)
.ad l
.\" -----------------------------------------------------------------
.\" * MAIN CONTENT STARTS HERE *
.\" -----------------------------------------------------------------
.SH "NAME"
apple_rm \- Do an apple remove, remove metadata and resource fork as well
.SH "SYNOPSIS"
.PP
\fB:BINDIR:/apple_rm\fR\fB\fR
\fIFILE\fR\&.\&.\&.
.SH "DESCRIPTION"
.PP
\fBapple_rm\fR
is a perl script that removes FILE(s) as well as the \&.AppleDouble metadata file(s) that corresponds to FILE(s)\&. These AppleDouble header files eventually also contain the resource fork if the files had one\&.
\fBapple_rm\fR
does not delete directories\&.
.SH "EXAMPLES"
.PP
\fB:BINDIR:/apple_rm\fR
test\&.text
.PP
\fB:BINDIR:/apple_rm\fR
test\&.text testing\&.text
.SH "REPORTING BUGS"
.PP
Report bugs to the Netatalk\-devel list <netatalk\-devel@lists\&.sourceforge\&.net>\&.
.SH "SEE ALSO"
.PP
\fBapple_cp\fR(1),
\fBapple_mv\fR(1)\&.
