.TH apple_mv 1 "22 Aug 2004" 2.0.0 Netatalk 
.SH NAME
apple_mv \- Do an apple move, moving metadata and the resource fork as well
.SH SYNOPSIS
\fI:BINDIR:/apple_mv\fR \fISOURCE
DEST\fR \fI:BINDIR:/apple_mv\fR \fISOURCE\fR... \fIDIRECTORY\fR
.SH DESCRIPTION
\fIapple_mv\fR is a perl script to move
SOURCE to DEST or multiple SOURCE(s) to DIRECTORY. It also moves the file 
specific metadata (including resource forks) to the .AppleDouble directory
for DEST or DIRECTORY. If the .AppleDouble directory doesn't exist for 
DEST or DIRECTORY it will create it.
.SH EXAMPLES
\fI:BINDIR:/apple_mv\fR test.text
/target/directory/
.PP
\fI:BINDIR:/apple_mv\fR test.text
/target/directory/test2.text
.PP
\fI:BINDIR:/apple_mv\fR test.text
testing.text /target/directory/
.SH "REPORTING BUGS"
Report bugs to the Netatalk\-devel list
<netatalk\-devel@lists.sourceforge.net>.
.SH "SEE ALSO"
\fBapple_cp\fR(1),
\fBapple_rm\fR(1).

