Makefile
Makefile.in
.deps
.libs
*.lo
*.la
uams_dhx2_pam_la-uams_dhx2_pam.o uams_dhx2_passwd.o uams_dhx_pam_la-uams_dhx_pam.o uams_dhx_passwd.o uams_gss_la-uams_gss.o uams_guest.o uams_pam_la-uams_pam.o uams_passwd.o uams_randnum.o
