name: Tests
on:
  push:
    branches:
      - main
      - branch-*
    paths-ignore:
      - "**/COPYING"
      - "**/COPYRIGHT"
      - "**/README"
  pull_request:
    branches:
      - main
      - branch-*
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
        - "**/COPYING"
        - "**/COPYRIGHT"
        - "**/README"

permissions: read-all

jobs:
    formatting:
        name: Code Formatting
        runs-on: macos-latest
        env:
          HOMEBREW_NO_INSTALL_CLEANUP: 1
          HOMEBREW_NO_AUTO_UPDATE: 1
        steps:
        - name: Checkout code
          uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
          with:
            fetch-depth: 0
        - name: Install dependencies
          run: |
              brew update
              brew install \
                astyle \
                muon \
                perltidy \
                shfmt
        - name: Check formatting
          run: |
              ./contrib/scripts/codefmt.sh -v -s c
              ./contrib/scripts/codefmt.sh -v -s meson
              ./contrib/scripts/codefmt.sh -v -s perl
              ./contrib/scripts/codefmt.sh -v -s shell

    markdown-linting:
        name: Markdown Linting
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
          with:
            fetch-depth: 0
        - uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e
          with:
            globs: '**/*.md'

    static_analysis:
        name: Static Analysis
        runs-on: ubuntu-latest
        # Run only if not originating from a fork
        if: ${{ !github.event.pull_request.head.repo.fork }}
        env:
          BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory
        steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
          with:
            fetch-depth: 0
        - name: Install Build Wrapper
          uses: SonarSource/sonarqube-scan-action/install-build-wrapper@2500896589ef8f7247069a56136f8dc177c27ccf
        - name: Install dependencies
          run: |
            sudo apt-get update
            sudo apt-get install --assume-yes --no-install-recommends \
                bison \
                cracklib-runtime \
                flex \
                libacl1-dev \
                libavahi-client-dev \
                libcrack2-dev \
                libcups2-dev \
                libdb-dev \
                libdbus-1-dev \
                libevent-dev \
                libgcrypt20-dev \
                libglib2.0-dev \
                libiniparser-dev \
                libkrb5-dev \
                libldap2-dev \
                libmariadb-dev \
                libpam0g-dev \
                libtalloc-dev \
                libtirpc-dev \
                libtracker-sparql-3.0-dev \
                libwrap0-dev \
                meson \
                ninja-build \
                systemtap-sdt-dev \
                tracker-miner-fs
        - name: Run build wrapper
          run: |
            mkdir -p ${{ env.BUILD_WRAPPER_OUT_DIR }}
            meson setup build \
                -Dbuildtype=debug \
                -Dwith-appletalk=true \
                -Dwith-docs= \
                -Dwith-init-style=none \
                -Dwith-tests=true \
                -Dwith-testsuite=true
            build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} meson compile -C build
        - name: Run SonarQube scan
          uses: sonarsource/sonarqube-scan-action@2500896589ef8f7247069a56136f8dc177c27ccf
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          with:
            args: >
              --define sonar.cfamily.compile-commands="${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json" 
