name: Tests
on:
  push:
    branches:
      - main
      - branch-*
  pull_request:
    branches:
      - main
      - branch-*
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  formatting:
    name: Code Formatting
    runs-on: macos-latest
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          brew update
          brew install \
            astyle \
            markdownlint-cli2 \
            muon \
            perltidy \
            shfmt \
            yamlfmt
      - name: Check C formatting
        run: ./contrib/scripts/codefmt.sh -v -s c
      - name: Check markdown formatting
        run: ./contrib/scripts/codefmt.sh -v -s markdown
      - name: Check meson formatting
        run: ./contrib/scripts/codefmt.sh -v -s meson
      - name: Check perl formatting
        run: ./contrib/scripts/codefmt.sh -v -s perl
      - name: Check shell script formatting
        run: ./contrib/scripts/codefmt.sh -v -s shell
      - name: Check yaml formatting
        run: ./contrib/scripts/codefmt.sh -v -s yaml

  markdown-linting:
    name: Markdown Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: '**/*.md'

  distribution-tests:
    name: Distribution Tests
    runs-on: ubuntu-latest
    timeout-minutes: 12
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            libevent-dev \
            libgcrypt20-dev \
            libiniparser-dev \
            meson \
            ninja-build
      - name: Configure
        run: |
          meson setup build \
            -Dbuildtype=release \
            -Dwith-init-hooks=false \
            -Dwith-tests=true
      - name: Run distribution tests
        run: meson dist -C build

  build-doxygen-docs:
    name: Build Doxygen Docs
    runs-on: macos-latest
    timeout-minutes: 12
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: |
          brew update
          brew upgrade
          brew install \
            bstring \
            doxygen \
            iniparser \
            meson
      - name: Configure
        run: |
          meson setup build \
            -Dbuildtype=debug \
            -Dwith-docs=developer \
            -Dwith-doxygen-strict=true \
            -Dwith-homebrew=true
      - name: Upload Meson log on failure
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-log
          path: build/meson-logs/meson-log.txt
